.blogdetails-section {
    background: white;
    gap: 25px;
    padding: 50px;
}

.important-note {
    background: orange;
    color: white;
    margin-bottom: 20px;
}
.social-media1{
    width: 50px;
}
.masala1-section{
    max-width: 98%;
    margin: auto;
}

.imoprtant-matter {
    font-size: 17px;
    font-weight: 700;
    font-family: Helvetica;
    padding: 20px;

}
.masala-blog1{
    max-width: 98%;
    margin: auto;
}

.quote {
    padding: 18px 1px 10px 10px;
}

.tag-text {
    font-size: 20px;
    font-weight: 700;


}

.icons1 {
    padding: 10px;
}

.tags {
    border: 1px white solid;
    padding: 10px;
}

.comment-text {
    font-size: 32px;
    font-weight: 700;
}

.md-section,
.md2-section {
    gap: 25px;
}
.search-bar-elements{
    max-width: 98%;
    margin: auto;
}

.reply {
    margin-bottom: 13px;
    margin-left: 15px;
}

.md2-section {
    margin-left: 112px;
}

.chicken-soop-section {
    gap: 10px;
}

.search-input1 {
    width: 300px;
    height: 50px;
}

.post-comment-text {
    font-size: 24px;
    font-weight: 700;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.commenter-name,
.commenter-email {
    width: 350px;
    height: 56px;

}

.commenter-email {
    margin-left: 20px;
}

.text-area {
    width: 720px;
    height: 250px;
    margin-top: 20px;
}

.post-comment {
    background: orange;
    color: white;
    padding: 15px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}
.photo-gallery-section{
    max-width: 98%;
    margin: 0px;
}
@media screen and (max-width:1024px) {
    .Blogcomponent-section{
        flex-wrap: wrap;
        text-align: justify;
        
    }
   .search-input1{
    width: 85%;
   }
}
@media screen and (max-width:768px){
    .masala1-section{
        max-width: 98%;
        margin: auto;
    }
    .chicken-soop-section{
        flex-wrap: wrap;
    }
    .commenter-name,.commenter-email{
        width: 30%;
        height: auto;
    }
    .text-area{
        width: 40%;
        height: 50%;
    }
    .post-comment{
        padding: 0 10px
    }
    .search-bar-orange{
        max-width: 98%;
        margin: auto;
    }
   

}
@media screen and (max-width:1399px){
    .masala1-section{
        max-width: 98%;
        margin: auto;
    }
    .chicken-soop-section{
        flex-wrap: wrap;
    }
    .blogdetails-section{
        flex-wrap: wrap;
        text-align: justify;
        
    }
}
@media screen and (max-width:950px){
    .text-area{
        width: 40%;
        height: 50%;
    }
    .commenter-name,.commenter-email{
        width: 30%;
        height: auto;
    }
    .post-comment{
        padding: 0 10px
    }
    .search-input1{
        width: 50%;
        height: auto;
    }
    .search-image{
        width: 7.5%;
        height: auto;
    }
    .photographer,.recent-post-section,.filter-section,.papular-tag-section,.photo-gallery-section,.follow-us{
        max-width: 98%;
        margin: auto;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:582px){
    .blogdetails-section{
        padding: 20px;
    }
    .chicken-soop{
        width: 100%;
    }
    .tags{
        flex-wrap: wrap;
    }
    .md2-section {
        margin-left: 0px;
    }
    .Bbq{
        flex-wrap: wrap;
    }
    .photo-gallery-first-row,.photo-gallery-second-row{
        flex-wrap: wrap;
        gap: 10px;
    }
    .group1{
        margin-left: 0px;
        margin-bottom: 0px;
        gap: 10px;
    }
    p{
        font-size: 10px;
    }
    .food-name,.food-price {
        font-family: Helvetica;
        font-size: 10px;
        font-weight: 700;
    }
    .follow-us-text,.recent-post-text,.photo-gallery-text,.popular-tag-text,.photographer-name,.post-comment-text,.comment-text,.tag-text,.detox-text{
        font-size: 15px;
    }
    .social-media1-section{
        flex-wrap: wrap;
    display: flex;
    gap: 10px;
    height: 25%;
   
    }
    .recent-post-elements{
       line-height: 1.2;
    }
    .recent-post-section,.filter-section,.papular-tag-section,.photo-gallery-section,.follow-us ,.photographer{

        padding: 5px;
        height: 25%;
    }
    .recent-post{
        height: 53px;

    }
    .imoprtant-matter{
        font-size: 10px;
    }
    .food-container{
        flex-wrap: wrap;
        font-size: 6px;
       
       

    }
    .search-image{
        width: 23%;
    border: orange 1px solid;
    }
    .md-section,.md2-section{
        flex-wrap: wrap;
    }
    .quote{
        padding: 0px;
    }
    .calender-dates{
        flex-wrap: wrap;
    }
    
}

