/* General styles */
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.activeprocess-hero-section {
position: relative;
  width: 100%;
  height: 550px;
  background-image: url("/public/assets/images/ActiveProcess_bg.svg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 369px;
}

.activeprocess-overlay {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.activeprocess-content {
text-align: right;
  max-width: 100%;
  padding: 0px 54px;
  width: 742px;
}

.activeprocess-restaurantprocess-title {
  font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Great Vibes';
    color: orange;
}

.activeprocess-content h1 {
  font-size: 42px;
  font-weight: 700;
}

.activeprocess-content h1 span {
  color: orange;
  font-weight: bold;
}

.activeprocess-content p {
  font-size: 16px;
  margin: 20px 0;
  color: rgb(178, 182, 185);
}

.activeprocess-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.activeprocess-read-more,
.activeprocess-play-video {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.activeprocess-read-more {
  background-color: transparent;
  color: orange;
  border: 1px solid rgb(127, 124, 120);
  border-radius: 25px;
}

.activeprocess-read-more:hover {
  background-color: orange;
  color: white;
  transform: scale(1.05);
}

.activeprocess-play-video {
  color: orange;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
}

.activeprocess-play-video:hover {
  background-color: orange;
  color: white;
  transform: scale(1.05);
}

/* Modal styles */
.activeprocess-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it's above other elements */
}

.activeprocess-modal-content {
  position: relative;
  width: 90%;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.activeprocess-modal-content iframe {
  width: 100%;
  height: 315px;
  border-radius: 10px;
}

.activeprocess-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.activeprocess-close:hover {
  color: red;
  transition: color 0.3s ease;
}
@media (max-width:427px){
  .activeprocess-hero-section{
    display: none;
  }
}