@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Feature Item Styling */
.features .feature-item {
    display: flex;
    align-items: center;
}

/* Icon Styling */
.icon {
    width: 24px;
    height: 24px;
}
.main-image {
    width: 100%;
    border-radius: 8px;
}

.sub-images .sub-image {
    width: 49%;
    margin-right: 10px;
    border-radius: 8px;
}
@media (max-width: 769px) {
   
   .icon{
    margin-left: 20px !important;
   }
}