.statistics-section {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    color: #fff;
}

.statistics-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Black overlay with 50% opacity */
    z-index: 1;
}

.statistics-content {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 2;
    /* Ensure content is above the overlay */
}

.stat-item {
    flex: 1;
    margin: 0 10px;
}

.stat-icon {
    font-size: 3rem;
    color: #ffa500;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}
@media (max-width:769px) {
    .statistics-section{
        margin: 0px !important;
    }
}

